@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
html body {
    margin: 0;
    padding: 0;
    background-color: rgb(13, 8, 77);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-color: midnightblue;
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.header .hleft {
    display: flex;
    justify-content: space-between;
}

.hleft .logo img {
    padding: 0 100px;
}

.hleft .options svg {
    padding: 7px;
}

.hleft .search {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    border-radius: 30px;
    padding: 0 10px;
    flex: 1;
    cursor: text;
    color: white;
    font-size: 12px;
    background-color: transparent;
    border: 3px solid hsla(0, 0%, 1%, 0.1);
}

.hleft .search svg {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hleft .search input {
    background-color: transparent;
    border: none;
    height: 38px;
    padding-left: 150px;
    padding-right: 150px;
    outline: none;
}

.hright {
    display: flex;
    justify-content: space-between;
}

.hright a {
    padding: 7px;
}

.hright button {
    background-color: black;
    color: white;
    font-size: 12px;
    line-height: 10px;
    padding: 12px 25px;
    border: 1px solid black;
    border-radius: 17px;
    margin: 5px;
}

.navbar {
    position: sticky;
    top: 60px;
    min-height: 60px;
    background-color: rgb(13, 8, 77);
    padding: 0 200px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}

.nav-link {
    color: hsla(0, 0%, 100%, 0.9);
    font-size: 16px;
    margin-right: 38px;
    letter-spacing: -.09px;
    text-transform: capitalize;
    text-decoration: none;
    list-style: 20px;
}


/*body*/

.h1 {
    display: flex;
}

.audio-container {
    background-color: green;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgb(247, 148, 1);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 200px;
    z-index: 10;
}

.img-container {
    position: relative;
    width: 110px;
}

.img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.audio-container.play .img-container img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: white;
    border: 0;
    color: #f7be04;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}

.action-btn.action-btn-big {
    color: #fcb51b;
    font-size: 30px;
}

.action-btn:focus {
    outline: 0;
}

.audio-info {
    background-color: rgb(255, 166, 0);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}

.audio-container.play .audio-info {
    opacity: 1;
    transform: translateY(-100%);
}

.audio-info h4 {
    margin: 0;
}

.progress-container {
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: whitesmoke;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    transition: width 0.1s linear;
}